.category-expert-existing-endorsements {
  font-size: var(--font-down-2);

  .category-expert-endorse-edit {
    display: inline-block;
    width: unset;
    min-width: unset;
    padding: 2px;
    color: var(--tertiary);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
}
.user-card .first-row .usercard-controls .category-expert-endorse-edit,
.group-card .first-row .usercard-controls .category-expert-endorse-edit {
  width: unset;
  min-width: unset;
}

.reviewable-category-expert-suggestion {
  .reviewable-category-experts-header {
    width: 100%;
  }

  .row {
    width: calc(100% - 2em);
    margin: 0.5em 0 0 2em;

    .endorsed-by-table {
      width: 100%;

      .endorsed-by {
        padding: 0.35em 0;
      }
    }
  }
}

.reviewable-container
  .reviewable-filter-endorsed-username-to-filter
  div.ac-wrap
  input[type="text"] {
  padding: 0;
  margin: 2px 0 0px 3px;
}

.endorse-user-modal .remaining-endorsements-notice {
  color: var(--secondary-medium);
  font-size: var(--font-down-1);
}

.endorsement-successful {
  text-align: center;
  color: var(--success);
  font-size: 5em;
  line-height: 1em;
}

.time-gap + .topic-post article.category-expert-post {
  .topic-body,
  .topic-avatar {
    border-top: 4px solid var(--success);
  }
}
article.category-expert-post {
  .topic-body,
  .topic-avatar {
    border-top: 4px solid var(--success);
  }
}

.category-expert-indicator .d-icon {
  color: var(--success);
}

.post-controls .approve-category-expert-post .d-button-label {
  margin-left: 7px;
}

.topic-list-category-expert-tags > a,
.topic-list-category-expert-needs-approval,
.topic-list-category-expert-question {
  font-size: var(--font-down-2);
  padding: 0.3em 0.5em;
  background: var(--success-low);
  color: var(--primary-high);
  border-radius: 1em;
  margin-left: 4px;
}

.topic-list-category-expert-needs-approval {
  background: var(--highlight-low);
}
.topic-list-category-expert-question {
  background: var(--tertiary-low);
}

ul.category-experts-post-admin-menu-btn li {
  border-top: 1px solid var(--primary-low) !important;
}

.category-experts-search-fields label {
  display: block;
}
