.category-expert-existing-endorsements {
  font-size: $font-down-2;

  .endorse-link {
    color: $tertiary;
    cursor: pointer;
    text-decoration: underline;
  }
}

.reviewable-category-expert-suggestion {
  .reviewable-category-experts-header {
    width: 100%;
  }

  .row {
    width: calc(100% - 2em);
    margin: 0.5em 0 0 2em;

    .endorsed-by-table {
      width: 100%;

      .endorsed-by {
        padding: 0.35em 0;
      }
    }
  }
}
.endorsement-successful {
  text-align: center;
  color: $success;
  font-size: 5em;
  line-height: 1em;
}


.time-gap+.topic-post article.category-expert-post {
  .topic-body, .topic-avatar {
    border-top: 4px solid $success;
  }
}
article.category-expert-post {
  .topic-body, .topic-avatar {
    border-top: 4px solid $success;
  }
}

.category-expert-indicator .d-icon {
  color: $success;
}

.post-controls .approve-category-expert-post .d-button-label {
  margin-left: 7px;
}

.topic-list-category-expert-tags > span,
.topic-list-category-expert-needs-approval,
.topic-list-category-expert-question {
  font-size: $font-down-2;
  padding: 0.3em 0.5em;
  background: $success-low;
  color: $primary-high;
  border-radius: 1em;
  margin-left: 4px;
}

.topic-list-category-expert-needs-approval {
  background: $highlight-low;
}
.topic-list-category-expert-question {
  background: $tertiary-low;
}
