{{#if show}}
  <label class="checkbox-label is-category-expert-question">
    <Input @type="checkbox" @checked={{model.is_category_expert_question}} />
    {{i18n "category_experts.ask_category_expert"}}
  </label>
{{/if}}