<div class="reviewable-filter reviewable-filter-endorsed-username-to-filter">
  <label class="filter-label">{{i18n "review.endorsed_username"}}</label>
  {{user-selector
  single=true
  fullWidthWrap=true
  allowAny=false
  excludeCurrentUser=false
  includeMentionableGroups=false
  hasGroups=false
  usernames=additionalFilters.endorsed_username
  autocomplete="off"
  }}
</div>
